[submodule "third_party/skia"]
	path = third_party/skia
	url = https://skia.googlesource.com/skia
	shallow = true

[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
	shallow = true

[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
	shallow = true
